.titreMateriel {
    padding: 10px ;
    background-size: cover;
    width:800px;
    margin:1em auto;
}

h1 {
    background:rgba(255, 255, 255, 0.8);
    color:black;
    padding:10px 0;
    text-align:center;
    overflow:hidden;
    font-size:26px;
    font-family:georgia;
}

h1:before, h1:after {
    content:'';
    width:1000px;
    border-bottom:black solid;
    display:inline-block;
    vertical-align:middle;
}

h1:before {
    margin-left:-100%;
    margin-right:15px
}

h1:after {
    margin-right:-100%;
    margin-left:15px;
}

.materielVide {
    text-align: center;
    font-size: large;
}